.footer {
    text-align: left;
    background-color: #464547;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    height: 199px;
}

.footer-image-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 14px;
    /* identical to box height, or 89% */

    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-info {
    margin-left: 153px;
    padding-top: 39px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 50px);

}

.footer-image {
    width: 20px;
    height: 20px;
    margin: 0px 16px 0 5px;
    text-align: left;
}

.footer-address {
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 0px;
}

.footer-mail {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 2 / 3;
}

.footer-mail a {
    text-align: left;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
}

.footer-rights {
    text-align: left;
    margin: 0px;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row: 2 / 3;
}