.app-header__nav-menu-button {
    z-index: 1000;
    position: absolute;
    left: 162px;
    top: 45px;

}

.app-header__nav-menu-button *:nth-child(1) {
    margin: 0;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white-color);
}


.nav-container {
    position: absolute;
    width: 100%;
}

nav {
    z-index: 1100;
    width: 100%;
    position: relative;
    display: flex;
    top: 45px;
    justify-content: center;

}

nav ul, nav li {
    display: flex;
}

nav li a {
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-right: 32px;

}


nav li a:hover {
    margin-bottom: 6px;
    border-bottom: 2px solid var(--white-color);
    ;
}

.active {
    margin-bottom: 6px;
    border-bottom: 2px solid var(--white-color);
    ;
}

.header-container {
    position: absolute;
    height: 800px;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 822px;
    min-height: 300px;
    z-index: 1000;
}

.hero div:first-of-type {
    font-family: var(--oswald-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 42px;
}

.header img {
    height: 63px;
    width: 63px;
    margin-bottom: 13px;
}


.header-img-bg {
    position: absolute;
    background-image: url("../public/bgHero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(822px + 22px);
    width: calc(100% + 116px);
    top: -22px;
    left: -116px;
}

.slogan {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
}

.app-header__nav-menu-button-icon {
    display: none;
}

@media(max-width:768px) {
    nav {
        display: none;
    }

    .app-header__nav-menu-button {
        display: flex;
        left: 0;
        margin: auto;
        width: calc(100% - 32px);
        flex-direction: row;
        align-items: center;
    }

    .app-header__nav-menu-button h1:nth-child(1) {
        position: relative;
        text-align: left;
        left: 32px;
        margin: initial;
    }

    .app-header__nav-menu-button-icon {

        position: absolute;
        right: 21px;
        width: 22px;
        z-index: 1050;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app-header__nav-menu-button-icon span:nth-child(n) {
        display: block;
        width: 100%;
        background-color: var(--white-color);
        height: 3px;
        margin-top: 4px;
    }

    .app-header__nav-menu-button-icon span:nth-child(1) {
        margin-top: 0px;
    }
}