.learn-more {
    height: 666px;
    color: var(--white-color);
    text-align: center;
    background-image: url("../public/learnMoreBg.jfif");
    background-repeat: no-repeat;
    background-size: cover;

}

.learn-title {
    z-index: 1000;
    color: var(--white-color);
    font-family: var(--oswald-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 0px;
}

.learn-bottom {
    z-index: 1000;
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    background-color: var(--bottom-color);
    color: var(--white-color);
    font-size: 70px;
    margin-top: 63px;
    margin-bottom: 54px;
}

.learn-bottom>span {
    position: relative;
    left: 10px;
    margin-top: 53px;
    margin-bottom: 70px;
}



.learn-text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    margin: 0px;
}

.bg-mask {
    position: absolute;
    background-color: rgba(140, 79, 42, 0.3);
    width: 100%;
    height: 666px;
}

.bottom:hover {
    background-color: var(--white-color);
    transition: 0.5s;
}

@media (max-width:768px) {
    .learn-bottom {
        width: 100px;
        height: 100px;
        margin-top: 91px;
        margin-bottom: 82px;
    }

    .learn-bottom span {
        font-size: 50px;
        bottom: 8px;
    }
}